body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(240, 229, 229);
    font-family: sans-serif;
}

.login-contanier {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    width: 200px;
    height: 260px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

input, button {
    width: 90%;
    margin: 10% auto;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid color(#000000);
    display: block;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(128, 128, 252);
}

a {
    color: #000000;
}